.tb-carousel {
	position: relative;
}


.tb-carousel .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.tb-carousel .swiper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.tb-carousel .swiper-slide {
	background-size: cover;
	background-position: center;
	border-radius: 30px;
	overflow: hidden;
}


.tb-carousel .swiper-slide img {
	display: block;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.tb-carousel {
    position: relative;
}
 .tb-carousel .swiper-button-next, .tb-carousel .swiper-button-prev{
	position:initial;
}

.tb-carousel .swiper-button-next {
    position: absolute;
    left: 50%;
}
.tb-carousel .swiper-button-prev {
    position: absolute;
    left: 46%;
}
.tb-carousel .swiper-button-next, .tb-carousel .swiper-button-prev {
    top: unset;
    bottom: -60px;
}
.tb-carousel .swiper-button-next.tb-next:after, 
.tb-carousel .swiper-button-prev.tb-prev:after{
	content: "" !important;
}
.tb-carousel .swiper-button-prev.tb-prev,
.tb-carousel .swiper-button-next.tb-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    padding:10px
}
.tb-image-carousel-caption {
    position: absolute;
    bottom: 0;
    background: #16243d;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding: 10px;
}
@media(max-width:480px){
	.tb-carousel .swiper-button-prev {
		position: absolute;
		left: 40%;
	}
	.tb-carousel .swiper-button-next {
		position: absolute;
		left: 53%;
	}
}


/*Testimonial*/
.tb-testimonial {
    padding: 10px;
}

.tb-testimonial-title {
    font-size: 20px;
    font-weight: 600;
    color: #16243d;
    margin-bottom: 0.9rem;
    line-height: 27px;
}
.tb-testimonial .swiper-slide {
    background-color: #FFFFFF;
    border-radius: 15px;
	border: 1px solid #d6d5d5;
    padding: 30px 30px 30px 30px;
}
.tb-testimonial .swiper-button-next.tb-next:after, .tb-carousel .swiper-button-prev.tb-prev:after {
    content: "" !important;
}
.tb-testimonial .swiper-slide.swiper-slide-active {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tb-testimonial .swiper-wrapper {
    padding: 20px 0;
}
.tb-testimonial-content{
    color:#777777;
    font-size: 18px;
}
.tb-testimonial .tb-testimonial-image img{
    width: auto;
}
.tb-testimonial-image{
    margin-bottom: 25px;
}
.tb-testimonial-name {
    color: #16243d;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.tb-testimonial-position {
    color:#16243d;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}